/* .home{
    display: flex;
    flex-direction: column;
    height : 100vh;
}
.image-container{
    display: flex;
    flex-direction: row;
    height : 400px;
    width : 500px;
    margin-top : 100px;

} */

  .home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height : 100vh;
  gap: 40px;
  padding: 20px;
}

/* Slider */

.slider {
  width : 95%;
  overflow: hidden;
}

.slide-track {
  display: flex;
  animation: scroll 20s linear infinite;
}

.slide-track img {
  width : 420px;
  height : 280px;
  object-fit: cover;
  margin-right : 20px;
  border-radius: 10px;
  margin-top: 100px;
  transition: transform 0.4s ease;
}

.slide-track img:hover {
  transform: scale(1.08);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}



.para-container {
  display: flex;

  flex-direction: row-reverse; /* ⭐ swaps left ↔ right */

  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1300px;

  margin: 40px auto;
}

.para-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.para-content img {
  width: 450px;
  height: auto;
  border-radius: 12px;
  margin: 0;
  margin-top: 40px;
}

.para-content h2 {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  margin-top: 20px;
  text-align: center;
}
.new-arrival-card {
  position: relative;
  width: 400px;
  height: 800px;

  border-radius: 14px;
  overflow: hidden;

  box-shadow: 0 8px 20px rgba(97, 230, 126, 0.15);
  cursor: pointer;
  transition: transform 0.3s ease;

  margin: 0;
}


/* image */

.para-left img {
  width: 450px;
  height: auto;
  border-radius: 12px;
  margin-top: 10px;
}

/* text */

.para-left h2 {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;

  margin: 0;             /* remove pushing */
  text-align: left;
}
