.mobile-page {
  padding: 40px;
  text-align: center;
}

.mobile-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.mobile-card {
  width : 220px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background: white;
}

.mobile-card img {
  width : 100%;
  border-radius: 8px;
}

.mobile-card h3 {
  margin: 10px 0 5px;
}

.mobile-card p {
  font-weight: bold;
}
