/* .header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding: 12px;
  background: white;
  color: black;
  

}
a {
  text-decoration: none;
} */

/* promo strip */

/* .promo-bar {
  width: 100%;
  background: black;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
}

.promo-track {
  display: inline-flex;
  gap: 80px;
  padding: 8px 0;

  animation: scrollPromo 18s linear infinite;
}

.promo-track span {
  font-size: 16px;
  font-weight: 500;
}

/* animation */

/* promo strip */

.promo-bar {
  width: 100%;
  background: black;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
}

.promo-track {
  display: inline-flex;
  gap: 80px;
  padding: 8px 0;

  animation: scrollPromo 18s linear infinite;
}

.promo-track span {
  font-size: 16px;
  font-weight: 500;
}

/* animation */

@keyframes scrollPromo {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* navigation */

.header {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 15px;
  background: black;
  font-size: 18px;
}

.header a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.header a:hover {
  color: #ff4081;
}
/* search */

.search-bar {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* cart icon */

.cart-icon {
  font-size: 22px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.cart-icon:hover {
  color: #ff4081;
}

