.product-card {
  border: 1px solid grey;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  background: white;

  margin-top : 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  transition: transform 0.2s ease;
    gap: 10px; 
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width : 100%;
 height : 250px;
  object-fit: cover;
  border-radius: 6px;
}

